body {
    font-family: 'Poppins', sans-serif;
}

input {
    font-family: 'Poppins', sans-serif;
    border: 0;
    background-color: rgb(22, 141, 221);
    color: #fff;
    width: 100%;
}

::placeholder { 
    color: white;
}

input:focus {
    outline: 0;
}

.input {
    border-bottom: 1px solid  rgb(22, 141, 221);
    width: fit-content;
}

/* .input:focus-within {
    border-bottom: 1px solid yellow;
} */

.widget {
    color: #fff;
    height: 275px;
    background-color: rgb(22, 141, 221);
}

.flex-container {
    display: flex;
    align-items: center;
    
}

.space-between {
    justify-content: space-around;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 600px) {
    .widget{
        height: auto;
    }

    /* .flex-container {
        flex-direction: column;
    } */
}